.banner{

  &__picture{
    background-image: url("../assets/main_pic.png");
    background-position: center center;
    height: calc(100vh - #{$header-height});
    position: relative;
    background-size: cover;

    &-text{
      position: absolute;
      top:23%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;


      p{
        font-size: $font-md;
        color: $accent-color;
        text-transform: $uppercase;
        margin-bottom: 15px;
        letter-spacing: $letter-spacing;
      }

      h1{
        font-size: $font-xxl;
        color: white;
        letter-spacing: 1px;
        line-height: 80px;
        margin-bottom: 70px;
      }
    }
  }

}