@font-face {
  font-family: 'Old Standard TT';
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),
  url('../fonts/OldStandardTT-Regular.woff2') format('woff2'),
  url('../fonts/OldStandardTT-Regular.woff') format('woff'),
  url('../fonts/OldStandardTT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

