$bg-color: #181511;
$accent-color:#FFAE2B;
$main-color:#ACA592;
$border-color:#4B4136;

$header-height:80px;

$font-sm:11px;
$font-md:12px;
$font-card:13px;
$font-card-img:29px;
$font-xl:60px;
$font-xxl:70px;

$letter-spacing:2px;
$uppercase:uppercase;

$font-family:"Old Standard TT", sans-serif;

$br-point-comp:1280px;
$br-point-netbook:992px;
$br-point-tab:768px;
$br-point-mob-l:576px;
$br-point-mob:480px;
$br-point-mini:320px;